.communityForDeveloper,
.coveloper {
  text-decoration: none;
  display: inline-block;
  font-style: italic;
}
.coveloper {
  width: 198px;
  position: relative;
  font-weight: 800;
  color: inherit;
}
.communityForDeveloper {
  position: absolute;
  margin: 0 !important;
  top: -10px;
  left: -36px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  z-index: 1;
}
.coveloperParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.div {
  position: relative;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
}
.wrapper {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 47px;
  font-size: 28px;
  color: #5e5e5e;
}
.frameParent,
.joinInner,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 33px;
}
.joinInner {
  width: 626px;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.frameChild {
  height: 52px;
  width: 160px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-darkslateblue-100);
  display: none;
}
.create {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.infoInputInner,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) 40px;
  color: aliceblue;
  background-color: var(--color-darkslateblue-100);
  border-radius: var(--br-10xs);
  justify-content: flex-start;
}
.rectangleParent:hover {
  background-color: var(--color-steelblue);
}
.infoInputInner {
  justify-content: flex-end;
  padding: 0 16px;
}
.infoInput,
.join {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.infoInput {
  margin: 0;
  width: 626px;
  align-items: flex-end;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.join {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-55xl) var(--padding-xl) 237px;
  box-sizing: border-box;
  gap: 45px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslateblue-300);
  font-family: var(--font-inter);
}
@media screen and (max-width: 750px) {
  .coveloper {
    font-size: var(--font-size-13xl);
  }
  .join {
    gap: var(--gap-3xl);
  }
}
@media screen and (max-width: 450px) {
  .coveloper {
    font-size: var(--font-size-5xl);
  }
  .div {
    font-size: 22px;
  }
  .create {
    font-size: var(--font-size-base);
  }
}
